@import "../../app.component.scss";

.navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: transparent;
    transition: 0.2s ease;
    .nav-link {
        color: black;
    }
    .navbar-toggler {
        background-color: $BLUE;
        border: 2px solid white;
        i {
            color: #fff !important;
        }
    }
}

.sticky{
    top: 0;
    overflow: hidden;
    z-index: 10;
    width: 100%;
    background-color: $BLUE;
    border-bottom: 1px solid rgb(85, 134, 210);
    transition: 0.2s ease;
    .nav-link {
        color: black;
    }
}

.bg-green {
  background-color: $GREEN;
  .nav-link {
    color: white;
  }
  .navbar-toggler {
    background-color: $GREEN;
    border: 2px solid white;
    i {
      color: #fff !important;
    }
  }
}

.logo {
    max-width: 80px;
    width: 100%;
}

footer {
  background-color: $HBLUE;
  padding: 10px;
  color: white;
}
