@import "../../../styles";

.home-missions-container {
    padding-top: 20px;
    padding-bottom: 20px;
    .mission-card-back {
        padding: 10px;
        .mission-card {
            border-radius: 11px;
            box-shadow: 0 0 10px -5px #777;
            padding: 10px;
            &.mission-card-E {
                @include set-card-mission-colors($GRAY);
            }
            &.mission-card-D {
                @include set-card-mission-colors($INFO);
            }
            &.mission-card-C {
                @include set-card-mission-colors($PURPLE);
            }
            &.mission-card-B {
                @include set-card-mission-colors($ORANGE);
            }
            &.mission-card-A {
                @include set-card-mission-colors($WARNING);
            }
            &.mission-card-S {
                @include set-card-mission-colors($OLIVE);
            }
            .mission-card-header {
                h3 {
                    width: 100px;
                    height: 100px;
                    position: relative;
                    margin: 0 auto;
                    border-radius: 50%;
                    font-size: 60px;
                    padding-top: 10px;
                }
            }
            .mission-card-content {
                margin-top: 15px;
                background-color: #fff;
                padding: 10px;
                border-radius: 11px;
                h3.title {
                    text-align: center;
                    font-size: 20px;
                }
                p.description {
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 15px;
                }
            }
            .buttons-row {
                .btn {
                    background: transparent !important;
                    border: 2px solid #fff;
                    color: #fff;
                    border-radius: 11px;
                    transition: 0.2s ease;

                    &.btn-success:hover {
                        background: $SUCCESS !important;
                        transition: 0.2s ease;
                        border-radius: 5px;
                    }

                    &.btn-danger:hover {
                        background: $DANGER !important;
                        transition: 0.2s ease;
                        border-radius: 5px;
                    }
                }
                padding-top: 10px;
            }
        }

    }
}

.test-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}
.test-row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.confidence-hr {
    margin-bottom: 5px;
}

.confidence-row {
    small {
        font-weight: bolder;
    }
}
