<app-admin-layout>
    <div class="container-fluid section-container">
        <div class="row">
            <div class="col-sm-6 header-title">
                <h1>Usuários</h1>
            </div>
            <div class="col-sm-6 header-breadcrumb"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr/>
            </div>
        </div>
        <form class="row" (submit)="getUsers(1)">
            <div class="form-group col-md-4">
                <input type="text" name="q" [(ngModel)]="q" class="form-control" id="q" placeholder="Pesquisa">
            </div>
            <div class="form-group col-md-2" style="padding-top: 10px">
                <input type="checkbox" name="date" [(ngModel)]="onlyban" id="onlyban" placeholder="Apenas Banidos" /> Apenas Banidos
            </div>
            <div class="form-group col-md-2">
                <input type="text" name="date" [(ngModel)]="birthdate" class="form-control" id="date" [brmasker]="{mask: '00/00/0000', len: 10}" placeholder="Data de Nascimento">
            </div>
            <div class="form-group col-md-2">
                <select name="order" [(ngModel)]="order" class="form-control" id="order">
                    <option value="">Ordenação</option>
                    <option [value]='"asc"'>Crescente</option>
                    <option [value]='"desc"'>Decrescente</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <button class="btn btn-success btn-block" type="submit">
                    Pesquisar
                </button>
            </div>
        </form>
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <td>#</td>
                        <td>Nome de Usuário</td>
                        <td class="text-right">Nível</td>
                        <td class="text-right">Missões Completas</td>
                        <td class="text-right">Missões Abandonadas</td>
                        <td class="text-right">Ingressou Em</td>
                        <td class="text-right">Banido Em</td>
                    </thead>
                    <tr *ngFor="let user of users">
                        <td (click)="userProfile(user.user_id)">{{ user.user_id }}</td>
                        <td (click)="userProfile(user.user_id)">{{ user.username }}</td>
                        <td (click)="userProfile(user.user_id)" class="text-right">{{ user.level }}</td>
                        <td (click)="userProfile(user.user_id)" class="text-right">{{ user.finished_missions }}</td>
                        <td (click)="userProfile(user.user_id)" class="text-right">{{ user.abandoned_missions }}</td>
                        <td (click)="userProfile(user.user_id)" class="text-right">{{ user.user_created_at | formatDate }}</td>
                        <td (click)="userProfile(user.user_id)" class="text-right">{{ user.ban_date | formatDate }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-12 mt-20 text-center">
                <app-pagination [pagination]="pagination" (callPaginationFunction)="getUsers($event)"></app-pagination>
            </div>
        </div>
    </div>
</app-admin-layout>
