<div class="container-fluid admin-layout">
    <div class="row">
        <div class="col-lg-12 menu-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2 menu-icon" (click)="open = true">
                        <fa-icon [icon]="icons.menu"></fa-icon>
                    </div>
                    <div class="col-8 text-center">
                        <a class="navbar-brand" >
                            <img src="/assets/images/logo_small.png" class="logo">
                        </a>
                    </div>
                    <div class="col-2 header-items text-right display-none">
                        <a class="menu-link" routerLink="/admin/perfil" routerLinkActive="active">
                            Perfil
                        </a> &nbsp; &nbsp;
                        <a href="javascript:void(0)" (click)="logout()">
                            Sair
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="blackscreen" [ngClass]="{'opened' : open}" (click)="open = false"></div>
        <div class="col-md-2 left-menu" [ngClass]="{'opened' : open}">
            <div class="container-fluid">
                <div class="row photo-row">
                    <div class="col-lg-12">
                        <div class="profile-photo" [style.background-image]="'url('+getImage()+')'"></div>
                    </div>
                </div>
                <div class="row name-row">
                    <div class="col-lg-12 text-center">
                        {{ user.player.username }}<br/>
                        <small>Administrador</small>
                    </div>
                </div>
                <div class="row menu-itens-row">
                    <div class="col-12">
                        <ul>
                            <li>
                                <a class="menu-link" routerLink="/admin/dashboard" routerLinkActive="active">
                                    <fa-icon [icon]="icons.dashboard"></fa-icon> &nbsp; Dashboard
                                </a>
                            </li>
                            <li>
                                <a class="menu-link" routerLink="/admin/usuarios" routerLinkActive="active">
                                    <fa-icon [icon]="icons.users"></fa-icon> &nbsp; Usuários
                                </a>
                            </li>
                            <li>
                                <a class="menu-link" routerLink="/admin/missoes" routerLinkActive="active">
                                    <fa-icon [icon]="icons.missions"></fa-icon> &nbsp; Missões
                                </a>
                            </li>
                            <li>
                                <a class="menu-link" routerLink="/admin/notificacoes" routerLinkActive="active">
                                    <fa-icon [icon]="icons.notifications"></fa-icon> &nbsp; Notificações
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <ng-content></ng-content>
        </div>
    </div>
</div>
