<app-home-layout [modal_control]="modal_control">
    <section id="home">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 bg-intro">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="container">
                                    <div class="row intro-message">
                                        <div class="col-lg-12 text-right">
                                            <img src="/assets/images/logo.png">
                                        </div>
                                        <div class="col-lg-12 titles text-right mt-30">
                                            Crie sua conta e se torne um shy
                                        </div>
                                        <div class="col-lg-12 titles text-right">
                                            Trabalhe sua timidez de forma intuitiva
                                        </div>
                                        <div class="col-lg-12 mt-30 text-right">
                                            <button class="btn btn-strong btn-hblue" (click)="modal_control = !modal_control">
                                                Quero ser um Shy
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-section" id="sobre">
        <div class="container-fluid">
            <div class="row" style="margin: 0px !important;">
                <div class="col-md-6 text-center">
                    <h2 class="title">
                        Sobre
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        Shayland: A Terra dos Tímidos é um projeto independente com o intuito de auxiliar as pessoas que
                        que são tímidas à trabalhar a sua timidez, servindo como uma ferramente de auxílio.
                    </p>
                    <p>
                        Crie sua conta, se torne um shy e trabalhe a sua timidez de forma intuitiva.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="contact-section" id="contato">
        <div class="container">
            <div class="row" style="margin: 0px !important;">
                <div class="col-md-12 text-center">
                    <h2 class="title">
                        Contato
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        Tem algum dúvida? Sugestão? Elogio? Crítica? Você pode Digitar aqui em baixo que iremos olhar com carinho o seu contato!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <form>
                        <div class="form-group">
                            <input type="text" maxlength="30" [(ngModel)]="contact.name" name="name" class="form-control" id="name" placeholder="Nome">
                        </div>
                        <div class="form-group">
                            <input type="text" maxlength="100" [(ngModel)]="contact.contact" name="contact" class="form-control" id="contact" placeholder="Contato (E-mail, Telefone, Celular, etc..)">
                        </div>
                        <div class="form-group">
                            <textarea rows="4" maxlength="300" [(ngModel)]="contact.message" name="message" class="form-control" id="message" placeholder="Mensagem * (300 caracteres)"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <button class="btn btn-success" [disabled]="!contact.message" (click)="addContact(contact)">
                        {{ !contact.message ? 'Digite uma mensagem para liberar o botão' : 'Enviar Mensagem' }}
                    </button>
                </div>
            </div>
        </div>
    </section>
</app-home-layout>

