@import "../../../styles";

.form-zone {
    min-height: 80vh;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $LGREEN;
}

.card-title {
    padding: 10px;
    margin-bottom: 0;
    h1 {
        margin: 0;
    }
}
