<app-admin-layout>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 header-title">
                <h1>Perfil</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr/>
            </div>
        </div>
    </div>
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-4 text-center">
                <input type="file" #fileInput (change)="onFileChanged($event)" style="display:none">
                <img [style.background-image]="'url('+getImage()+')'" class="profile-pic" (click)="!visit.id ? fileInput.click() : false" />
            </div>
            <div class="col-md-8">
                <h3>
                    Informações
                </h3>
                <form>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label class="label-control">E-mail</label>
                            <input type="email" [disabled]="true" class="form-control" name="email" [(ngModel)]="user.email">
                        </div>
                        <div class="col-lg-12 has-errors" *ngIf="errors.email">
                            <label>{{ errors.email }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="label-control">Nome de Usuário</label>
                            <input type="text" [disabled]="visit.id" class="form-control" name="username" [(ngModel)]="user.player.username">
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="label-control">Data de Nascimento</label>
                            <input type="text" [disabled]="visit.id" class="form-control" name="birthdate" [brmasker]="{mask: '00/00/0000', len: 10}" [(ngModel)]="user.player.formatted_birthdate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 has-errors" *ngIf="errors.username">
                            <label>{{ errors.username }}</label>
                        </div>
                        <div class="col-lg-6 has-errors" *ngIf="errors.birthdate">
                            <label>{{ errors.birthdate }}</label>
                        </div>
                    </div>
                    <div class="row" *ngIf="!visit.id">
                        <div class="col-lg-12">
                            <button class="btn btn-success btn-block" (click)="saveProfile(user)">
                                Salvar
                            </button>
                        </div>
                    </div>
                </form>
                <form *ngIf="!visit.id" class="mt-20">
                    <h3>
                        Mudar Senha
                    </h3>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="label-control">Senha</label>
                            <input name="password" type="password" [(ngModel)]="user.password" class="form-control"/>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="label-control">Confirmar Senha</label>
                            <input name="confirm_password" type="password" [(ngModel)]="user.confirm_password" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 has-errors" *ngIf="errors.password">
                            <label>{{ errors.password }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button class="btn btn-success btn-block" [disabled]="!user.password || !user.confirm_password" (click)="changePassword(user)">
                                Trocar Senha
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</app-admin-layout>

