<app-admin-layout>
    <div class="container-fluid section-container">
        <div class="row">
            <div class="col-sm-6 header-title">
                <h1>Dashboard</h1>
            </div>
            <div class="col-sm-6 header-breadcrumb"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Novos Usuários nos Últimos 7 dias
                            <small>
                                <a [href]="back_url+'/admin/dashboard/pdf/users-last-seven-days'"> &nbsp;Gerar PDF</a>
                            </small>
                        </h5>
                        <div class="card-text">
                            <app-bar *ngIf="newUersGraphOpen" [barChartData]="newUsersGraphData" [chartType]="'line'"></app-bar>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Quantidade de Missões Completas por Rank
                            <small>
                                <a [href]="back_url+'/admin/dashboard/pdf/missions-complete-by-rank'"> &nbsp;Gerar PDF</a>
                            </small>
                        </h5>
                        <div class="card-text">
                            <app-bar *ngIf="qtdMissionsCompletedByRankGraphOpen" [barChartData]="qtdMissionsCompletedByRankGraphData" [chartType]="'pie'"></app-bar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Quantidade de Missões Completas por Tipo
                            <small>
                                <a [href]="back_url+'/admin/dashboard/pdf/missions-complete-by-type'"> &nbsp;Gerar PDF</a>
                            </small>
                        </h5>
                        <div class="card-text">
                            <app-bar *ngIf="qtdMissionsCompletedByTypeGraphOpen" [barChartData]="qtdMissionsCompletedByTypeGraphData" [chartType]="'radar'"></app-bar>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Quantidade Mensagens Privadas Ultimos 7 Dias
                            <small>
                                <a [href]="back_url+'/admin/dashboard/pdf/private-notifications'"> &nbsp;Gerar PDF</a>
                            </small>
                        </h5>
                        <div class="card-text">
                            <app-bar *ngIf="qtdPrivateNotificationsLastWeekByTypeGraphOpen" [barChartData]="qtdPrivateNotificationsLastWeekGraphData" [chartType]="'bar'"></app-bar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-admin-layout>
