/* You can add global styles to this file, and also import other style files */
/* @import "./node_modules/nes.css/css/nes"; */

$GREEN: #889e81;
$LGREEN: #bac7a7;
$DGREEN: #698474;
$LYELLOW: rgb(234, 225, 62);
$YELLOW: rgb(221, 191, 35);

$BLUE: rgb(167, 198, 254);
$LBLUE: rgb(224, 236, 255);
$HBLUE: rgb(14, 65, 145);

$WARNING: #ffc107;
$DANGER: #dc3545;
$SUCCESS: #28a745;
$INFO: #17a2b8;
$PRIMARY: #007bff;
$SECONDARY: #6c757d;
$GRAY: #adb5bd;
$GRAYDARK: #343a40;
$LIGHT: #1f2d3d;
$INDIGO: #6610f2;
$LIGHTBLUE: #3c8dbc;
$NAVY: #001f3f;
$PURPLE: #605ca8;
$FUSCHIA: #f012be;
$PINK: #e83e8c;
$MAROON: #d81b60;
$ORANGE: #ff851b;
$LIME: #01ff70;
$TEAL: #39cccc;
$OLIVE: #3d9970;

@mixin set-button-colors($bgcolor, $txtcolor) {
    background-color: $bgcolor;
    border: 1px solid $bgcolor;
    color: $txtcolor;
    transition: 0.3s ease;
    &.clear {
        border: 1px solid $bgcolor;
        color: $bgcolor;
        background: transparent;
        &:hover {
            background-color: $bgcolor;
            border: 1px solid $bgcolor;
            color: $txtcolor;
            transition: 0.3s ease;
        }
    }
}

.btn {
    &.btn-success {
        @include set-button-colors($SUCCESS, #fff)
    }
    &.btn-danger {
        @include set-button-colors($DANGER, #fff)
    }
    &.btn-warning {
        @include set-button-colors($WARNING, #fff)
    }
    &.btn-info {
        @include set-button-colors($INFO, #fff)
    }
    &.btn-teal {
        @include set-button-colors($TEAL, #fff)
    }
    &.btn-hblue {
        @include set-button-colors($HBLUE, #fff)
    }
}

.btn-strong {
    font-size: 25px;
    font-weight: bolder;
    padding: 15px 20px;
    text-transform: uppercase;
}

.c-success {
    color: $SUCCESS;
}
.c-danger {
    color: $DANGER;
}
.c-warning {
    color: $WARNING;
}
.c-info {
    color: $INFO;
}
.c-teal {
    color: $TEAL;
}

@mixin set-card-mission-colors($color) {
    background: $color;
    .mission-card-header {
        h3 {
            background-color: white;
            color: $color;
        }
    }
    .mission-card-content {
        h3.title {
            color: $color;
        }
    }
    .confidence-row {
        color: $color;
    }
}

textarea {
    resize: none;
}

.has-errors {
    color: $DANGER;
    input, select, textarea {
        border-color: $DANGER;
    }
}

.section-title {
    padding: 10px 0;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-80 {
    margin-top: 80px;
}

.modal-header {
    background-color: $HBLUE;
    color: white;
    .close {
        color: white;
        outline: none !important;
    }
}

.modal-body {

}

.admin-breadcrumb {
    background-color: transparent !important;
    text-align: right;
    color: #bbb;
    padding-top: 25px;
}
